<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weather.service.WeatherDAO">

	<select id="selectWeather" parameterType="com.weather.service.Weather" resultType="com.weather.service.Weather" >
		SELECT 	TO_CHAR(FC_DATE, 'YYYY-MM-DD') AS FC_DATE, LOCAL_NAME, RAINFALL_PROB, RAIN_PREC, 
				MIN_TEMPERATURE, MAX_TEMPERATURE, AVG_TEMPERATURE, FINE_DUST, PARTICULATE_DUST, 
				WIND_SP, WIND_DR, TEMP_0, TEMP_3, TEMP_6, TEMP_9, TEMP_12, TEMP_15, TEMP_18, TEMP_21
		FROM 	WEATHER
		WHERE 	TO_CHAR(FC_DATE, 'YYYY-MM-DD') = #{fc_date}
    <if test='local_name != null and local_name != ""'> <!-- 만약 파라미터에 local_name가 있다면 SQL문에 AND절 추가 -->
    	AND LOCAL_NAME = #{local_name}
    </if>
	</select>

	<insert id="insertWeather" parameterType="com.weather.service.Weather">
		INSERT INTO WEATHER (FC_DATE, LOCAL_NAME, RAINFALL_PROB, RAIN_PREC, MIN_TEMPERATURE
							, MAX_TEMPERATURE, AVG_TEMPERATURE)
		VALUES (TO_DATE(#{fc_date}, 'YYYY-MM-DD'), #{local_name}, #{rainfall_prob}, #{rain_prec}, #{min_temperature}, 
				#{max_temperature}, #{avg_temperature})
	</insert>
	
	<update id="updateWeather" parameterType="com.weather.service.Weather">
		UPDATE 	WEATHER
		SET  	RAINFALL_PROB = #{rainfall_prob},
				RAIN_PREC = #{rain_prec}, 
				MIN_TEMPERATURE = #{min_temperature}, 
				MAX_TEMPERATURE = #{max_temperature}, 
				AVG_TEMPERATURE = #{avg_temperature}
		WHERE 	TO_CHAR(FC_DATE, 'YYYY-MM-DD') = #{fc_date}
		AND 	LOCAL_NAME = #{local_name}
	</update>
	
	<delete id="deleteWeather" parameterType="com.weather.service.Weather">
		DELETE 	WEATHER
		WHERE 	TO_CHAR(FC_DATE, 'YYYY-MM-DD') = #{fc_date}
		AND 	LOCAL_NAME = #{local_name}
	</delete>
		
</mapper>









